
body {
    margin: 0
}

header {
    display: flex;
    width: 100%;
    height: 88px;
    background-color: rgba(218,0,0,1);

    align-items: center;
    justify-content: space-between;
}
#faculdade {
    text-align: center;
    width: 240px;
}
#title {
    flex-grow: 1;
    text-align: center;
}

#input {
    display: flex;
    justify-content: space-around;
}
#input input {
    flex-grow: 1;
}
div.perguntas {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: solid 1px rgb(128, 128, 128);
    display: inline-block;
    width: 90%;
    box-shadow: 0 4px 20px 0 rgba(87, 87, 87, 0.3);
}
.respostas {
    height: 200px;
    overflow: hidden;
    overflow-wrap: normal;
    overflow-y: scroll;
    overflow-x: hidden;
}